<%
 db = ZFdb::DB.new()
  results = db.GetActiveSessions()
  users = db.GetUsers()
%>

<div style="padding-left:10px" class="well sidebar-nav">
	<h3>Connected RIGHT NOW!</h3>
	<ul class="unstyled">
		<%results.each do |key,woof|
		if woof[:domain] == "" then woof[:domain] = "<i>WORKGROUP</i>" end%>
		<li>
			<a href="#">
			<div class="btn-group">
				<a rel="popover" title="<%= woof[:username]%>" data-content="<dl class='dl-horizontal'><dt>Auth Method</dt><dd><%=if woof[:method]==1 then "SMB" elsif woof[:method] ==2 then "HTTP" else "unknown?wtf" end%></dd><dt>Auth Src</dt><dd><%=woof[:ip]%></dd><dt>Groups?</dt><dd><%db.GetGroups(woof[:userid]).each do  |a|%><%= a[1] + "<br>"%><%end%></dd></dl>" data-toggle="dropdown" class="btn btn-danger dropdown-toggle"><i class="icon-fire"></i> <%= woof[:domain]%>\<%= woof[:username]%> <span class="caret"/></a>
<!--
				<ul class="dropdown-menu">
					<li>
						<a data-toggle="modal" href="#myLeftews"><i class="icon-info-sign"></i> Enumerate via SMB</a>
					</li>
					<li>
						<a href="#"><i class="icon-envelope"></i> Exchange Mails</a>
					</li>
					<li>
						<a href="#"><i class="icon-upload"></i> Use PSExec</a>
					</li>
					<li>
						<a href="#"><i class="icon-hdd"></i> File Share</a>
					</li>
					<li>
						<a href="#"><i class="icon-edit"></i> Sharepoint</a>
					</li>
					 dropdown menu links -->
<ul class="dropdown-menu">
<li>instant actions coming soon</li>
</ul>
			</div></a>
		</li>

		<%end
		if results == {} then%>
		No Currently Connected Hosts
		<%end%>
	</ul></li>
	</ul>
	<h3>Recent Requests</h3>

	<ul class="unstyled" >
		<%users.each do |udata|
			if udata[4] != nil
		if udata[2] == "" then udata[2] = "<i>WORKGROUP</i>" end
		%>
		<li>
			<a rel="popover" href="#" class="btn btn-success" title="<%=udata[2]%>\<%=udata[1]%>" data-content="Last Seen: <%=udata[4]%>"><i class="icon-user"/></i> <%= udata[2]%>\<%= udata[1]%></a>
		</li>

		<%end
		end%>
		<%if users == {} then%>
		<li>
			No Historical Hosts
		</li>
		<%end%>
	</ul>
	<h3>"shells" or the like</h3>
	<i>Coming Soon :)</i>
</div><!--/.well -->

<div class="modal hide fade" id="myLeftews">
	<!--<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">×</button>
	<h3>Modal header</h3>
	</div>-->
	<form method="post" action="/actions" name="ewsquickadd">
		<div class="modal-body">
			<input type="hidden" name="action" value="delufromg">
			<input type="hidden" name="duid" id="duid" value="1">
			<input type="hidden" name="dgid" id="dgid" value="1">
			<p align="center">
				Are You Sure?
			</p>
			<a href="#" class="btn btn-primary " data-dismiss="modal">NO, CANCEL</a>
			<button type="submit" class="btn btn-danger">
				YES! DELETE
			</button>
			<a href="/help" class="btn btn-inverse">I'M CONFUSED?!?!</a>
		</div>
	</form>
</div>
